body{
    font-family: Arial;
    text-align: center;
}


.navbar{
    background: #66b0f1;
    padding: 10px;
}

button{
    margin:5px;
    padding:8px;
    cursor:pointer;
}

/* SECTIONS */
.content, .homecontent{
    display:none;
    margin-top:20px;
}


table{
    margin:auto;
    border-collapse: collapse;
}


#success-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background: green;
    color: white;
    padding: 10px;
}

.toast-hidden {
    display: none;
}